


<table class="table table-bordered">
  <thead>
  <tr>
  <th>Product Count</th>
  <th>Category Count</th>
  <th> Product Quantities </th>
  </tr>
  </thead>

 <th><%=  @total_products %></th>
 <th><%=  @total_categories %></th>
 <th><%=  @total_quantities %></th>
  <tbody>

    
    </tbody>
    </table>
