// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}



.navbar {
  background-color: #38761D;
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
  
}


.navbar-text a  {
  color: white;
  opacity: 0.9;
}

.navbar-text a:hover {
  opacity: 1;
  text-decoration: none;
  color: #333333;
}

.navbar-default .navbar-brand {
  color: white;
  opacity: 0.9;
}

.navbar-default .navbar-brand:hover {
  color: white;
  opacity: 1;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  opacity: 0.9;
} 

.navbar-default .navbar-nav > li > a:hover {
  opacity: 1;
} 

input.btn.btn-success {
  margin: 0.5rem;
}

